.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: 450px;
}
.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 450px 249.3px;
}
.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 450px;
  height: 249.3px;
}
.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: 500px 277px;
}
.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: 450px;
  height: 249.3px;
}
.so-widget-sow-post-carousel-default-d1fe7cfb8e34 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: 450px;
  height: 249.3px;
}