/* Variables
------------------------------------------------------------------
{
  Color: [
	{
		value: 'purple',
		sample: '#99336f',
		name: 'purple',
		main: '#99336f',
		accent: '#993366',
		titleFont: '#99336f',
		logoColor: '#99336f',
		linkColor: '#993366',
		headerScroll: '#ffffff',
		navColor: '#999999',
		navAHover: '#99336f',
		navHover: '#6b244e',
		subNavHover: '#cc6699',
		thirdMenuHoverColor: '#993366',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#ffffff',
		borderColor: '#993366',
		splashHeader: '#b65890',
		splashFontColor: '#ffffff',
		splashSearchColor: '#999999',
		splashSearchBg: '#ffffff',
		normalButtonColor: '#cc6699',
		normalButtonBorder: '#e09bbe',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#99336f',
		highlightButtonHoverColor: '#99336f',
		highlightButtonHoverBorder: '#99336f',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#999999',
		footerTitleFont: '#999999',
		footerBackground: '#ffffff',
		footerBorderColor: '#993366',
		footerBorderWidth: '4px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#999999',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#993366',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#993366'
	},
    {
		value: 'black',
		sample: '#212121',
		name: 'black',
		main: '#212121',
		accent: '#99cc00',
		titleFont: '#212121',
		logoColor: '#212121',
		linkColor: '#99cc00',
		headerScroll: '#ffffff',
		navColor: '#999999',
		navAHover: '#212121',
		navHover: '#5d5d5d',
		subNavHover: '#99cc00',
		thirdMenuHoverColor: '#99cc00',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#ffffff',
		borderColor: '#000000',
		splashHeader: '#4a4a4a',
		splashFontColor: '#ffffff',
		splashSearchColor: '#999999',
		splashSearchBg: '#ffffff',
		normalButtonColor: '#99cc00',
		normalButtonBorder: '#99cc00',
		highlightButtonColor: '#99cc00',
		highlightButtonBg: '#212121',
		highlightButtonHoverColor: '#000000',
		highlightButtonHoverBorder: '#000000',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#000000',
		footerTitleFont: '#000000',
		footerBackground: '#ffffff',
		footerBorderColor: '#000000',
		footerBorderWidth: '4px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#999999',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#99cc00',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#99cc00'
	},
    {
		value: 'yellow',
		sample: '#f9c13a',
		name: 'yellow',
		main: '#f9c13a',
		accent: '#f9c13a',
		titleFont: '#2c1f00',
		logoColor: '#2c1f00',
		linkColor: '#f9c13a',
		headerScroll: '#2c1f00',
		navColor: '#2c1f00',
		navAHover: '#f9c13a',
		navHover: '#2c1f00',
		subNavHover: '#d49b24',
		thirdMenuHoverColor: '#ffffff',
		thirdMenuHoverBg: '#000000',
		bannerColor: '#2c1f00',
		borderColor: '#f9c13a',
		splashHeader: '#d29c1a',
		splashFontColor: '#2c1f00',
		splashSearchColor: '#2c1f00',
		splashSearchBg: '#ffffff',
		normalButtonColor: '#f9c13a',
		normalButtonBorder: '#f9c13a',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#f9c13a',
		highlightButtonHoverColor: '#ffffff',
		highlightButtonHoverBorder: '#000000',
		highlightButtonHoverBg: '#000000',
		footerFont: '#999999',
		footerTitleFont: '#ffffff',
		footerBackground: '#000000',
		footerBorderColor: '#f9c13a',
		footerBorderWidth: '0px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#2c1f00',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#f9c13a',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#f9c13a'
	},
    {
		value: 'cyan',
		sample: '#e1edef',
		name: 'cyan',
		main: '#e1edef',
		accent: '#5e8791',
		titleFont: '#5e8791',
		logoColor: '#5e8791',
		linkColor: '#aaaaaa',
		headerScroll: '#b3ccd0',
		navColor: '#bbbbbb',
		navAHover: '#5e8791',
		navHover: '#5e8791',
		subNavHover: '#3d616a',
		thirdMenuHoverColor: '#3d616a',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#5e8791',
		borderColor: '#70939b',
		splashHeader: '#5e8791',
		splashFontColor: '#5e8791',
		splashSearchColor: '#99bac1',
		splashSearchBg: '#ffffff',
		normalButtonColor: '#8bb3bd',
		normalButtonBorder: '#8bb3bd',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#5e8791',
		highlightButtonHoverColor: '#5e8791',
		highlightButtonHoverBorder: '#5e8791',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#cccccc',
		footerTitleFont: '#cccccc',
		footerBackground: '#ffffff',
		footerBorderColor: '#70939b',
		footerBorderWidth: '4px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#99bac1',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#5e8791',
		normalButtonHoverBg: '#5e8791',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#5e8791'
	},
    {
		value: 'rose',
		sample: '#cc6666',
		name: 'rose',
		main: '#cc6666',
		accent: '#cc6666',
		titleFont: '#ac4a4a',
		logoColor: '#ac4a4a',
		linkColor: '#aaaaaa',
		headerScroll: '#ffffff',
		navColor: '#999999',
		navAHover: '#954d4d',
		navHover: '#954d4d',
		subNavHover: '#b46060',
		thirdMenuHoverColor: '#954d4d',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#ffffff',
		borderColor: '#cc6666',
		splashHeader: '#954d4a',
		splashFontColor: '#ffffff',
		splashSearchColor: '#999999',
		splashSearchBg: '#ffffff',
		normalButtonColor: '#cc6666',
		normalButtonBorder: '#cc6666',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#cc6666',
		highlightButtonHoverColor: '#cc6666',
		highlightButtonHoverBorder: '#cc6666',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#cccccc',
		footerTitleFont: '#cccccc',
		footerBackground: '#ffffff',
		footerBorderColor: '#cc6666',
		footerBorderWidth: '2px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#999999',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#cc6666',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#cc6666'
	},
    {
		value: 'cream',
		sample: '#f9f5ee',
		name: 'cream',
		main: '#f9f5ee',
		accent: '#28657c',
		titleFont: '#28657c',
		logoColor: '#28657c',
		linkColor: '#6a9caf',
		headerScroll: '#28657c',
		navColor: '#999999',
		navAHover: '#28657c',
		navHover: '#28657c',
		subNavHover: '#5d8b9c',
		thirdMenuHoverColor: '#5d8b9c',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#28657c',
		borderColor: '#28657c',
		splashHeader: '#d1cbc4',
		splashFontColor: '#28657c',
		splashSearchColor: '#999999',
		splashSearchBg: '#ffffff',
		normalButtonColor: '#ffffff',
		normalButtonBorder: '#ffffff',
		highlightButtonColor: '#28657c',
		highlightButtonBg: 'inherit',
		highlightButtonHoverColor: '#ffffff',
		highlightButtonHoverBorder: '#28657c',
		highlightButtonHoverBg: '#28657c',
		footerFont: '#d1cbc4',
		footerTitleFont: '#d1cbc4',
		footerBackground: '#ffffff',
		footerBorderColor: '#f9f5ee',
		footerBorderWidth: '2px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#999999',
		normalButtonBg: '#28657c',
		highlightButtonBorder: '#28657c',
		normalButtonHoverBg: '#ffffff',
		normalButtonHoverColor: '#28657c',
		normalButtonHoverBorder: '#28657c'
	},
    {
		value: 'blue',
		sample: '#102e50',
		name: 'blue',
		main: '#102e50',
		accent: '#315d8f',
		titleFont: '#315d8f',
		logoColor: '#485d75',
		linkColor: '#aaaaaa',
		headerScroll: '#d4dae2',
		navColor: '#999999',
		navAHover: '#485d75',
		navHover: '#325780',
		subNavHover: '#638ab1',
		thirdMenuHoverColor: '#315d8f',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#d4dae2',
		borderColor: '#102e50',
		splashHeader: '#485d75',
		splashFontColor: '#d4dae2',
		splashSearchColor: '#687a8f',
		splashSearchBg: '#233e5e',
		normalButtonColor: '#638ab1',
		normalButtonBorder: '#638ab1',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#102e50',
		highlightButtonHoverColor: '#102e50',
		highlightButtonHoverBorder: '#102e50',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#c0c0c0',
		footerTitleFont: '#c0c0c0',
		footerBackground: '#ffffff',
		footerBorderColor: '#102e50',
		footerBorderWidth: '4px',
		searchX: '-719px',
		searchY: '-101px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#ababab',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#315d8f',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#315d8f'
	},
    {
		value: 'pink',
		sample: '#d94d5d',
		name: 'pink',
		main: '#d94d5d',
		accent: '#d94d5d',
		titleFont: '#d94d5d',
		logoColor: '#d94d5d',
		linkColor: '#aaaaaa',
		headerScroll: '#ffffff',
		navColor: '#999999',
		navAHover: '#d94d5d',
		navHover: '#b43841',
		subNavHover: '#e6636d',
		thirdMenuHoverColor: '#d94d5d',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#ffffff',
		borderColor: '#d94d5d',
		splashHeader: '#a73b47',
		splashFontColor: '#ffe9e9',
		splashSearchColor: '#f0b6bc',
		splashSearchBg: '#dd5f6e',
		normalButtonColor: '#fa7d8c',
		normalButtonBorder: '#fa7d8c',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#d94d5d',
		highlightButtonHoverColor: '#d94d5d',
		highlightButtonHoverBorder: '#d94d5d',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#bbbbbb',
		footerTitleFont: '#bbbbbb',
		footerBackground: '#ffffff',
		footerBorderColor: '#d94d5d',
		footerBorderWidth: '4px',
		searchX: '-719px',
		searchY: '-101px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#ababab',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#d94d5d',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#d94d5d'
	},
    {
		value: 'green',
		sample: '#54b997',
		name: 'green',
		main: '#54b997',
		accent: '#2b6054',
		titleFont: '#3c6259',
		logoColor: '#3c6259',
		linkColor: '#aaaaaa',
		headerScroll: '#2b6054',
		navColor: '#999999',
		navAHover: '#3c6259',
		navHover: '#2b6054',
		subNavHover: '#52897a',
		thirdMenuHoverColor: '#2b6054',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#2b6054',
		borderColor: '#54b997',
		splashHeader: '#398b6f',
		splashFontColor: '#2b6054',
		splashSearchColor: '#408a79',
		splashSearchBg: '#6dc3a6',
		normalButtonColor: '#54b997',
		normalButtonBorder: '#54b997',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#54b997',
		highlightButtonHoverColor: '#54b997',
		highlightButtonHoverBorder: '#54b997',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#bbbbbb',
		footerTitleFont: '#bbbbbb',
		footerBackground: '#ffffff',
		footerBorderColor: '#54b997',
		footerBorderWidth: '2px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#408a79',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#2b6054',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#2b6054'
	},
    {
		value: 'teal',
		sample: '#71d0c8',
		name: 'teal',
		main: '#71d0c8',
		accent: '#097574',
		titleFont: '#71d0c8',
		logoColor: '#71d0c8',
		linkColor: '#aaaaaa',
		headerScroll: '#eaf8f7',
		navColor: '#999999',
		navAHover: '#097574',
		navHover: '#097574',
		subNavHover: '#4d9a9b',
		thirdMenuHoverColor: '#097574',
		thirdMenuHoverBg: '#ffffff',
		bannerColor: '#eaf8f7',
		borderColor: '#71d0c8',
		splashHeader: '#51a29b',
		splashFontColor: '#eaf8f7',
		splashSearchColor: '#4ea5a0',
		splashSearchBg: '#8dd9d3',
		normalButtonColor: '#097574',
		normalButtonBorder: '#097574',
		highlightButtonColor: '#ffffff',
		highlightButtonBg: '#71d0c8',
		highlightButtonHoverColor: '#71d0c8',
		highlightButtonHoverBorder: '#71d0c8',
		highlightButtonHoverBg: '#ffffff',
		footerFont: '#cccccc',
		footerTitleFont: '#cccccc',
		footerBackground: '#ffffff',
		footerBorderColor: '#71d0c8',
		footerBorderWidth: '2px',
		searchX: '-651px',
		searchY: '-27px',
		searchSplashX: '-651px',
		searchSplashY: '-27px',
		searchColor: '#4ea5a0',
		normalButtonBg: '#ffffff',
		highlightButtonBorder: '#ffffff',
		normalButtonHoverBg: '#097574',
		normalButtonHoverColor: '#ffffff',
		normalButtonHoverBorder: '#097574'
	}
  ]
}
------------------------------------------------------------------
*/

/* Resets
--------------------------------------------------------------------------------*/
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, 
fieldset, input {
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
}

/* Fonts
--------------------------------------------------------------------------------*/

@import url('//fonts.googleapis.com/css?family=Playfair+Display:900,900italic');

@import url('//fonts.googleapis.com/css?family=Maven+Pro:900');

/* Icons */

@font-face {
	font-family: 'icons';
	src:url(images/icons.eot?-h6wei0);
	src:url(images/icons.eot?#iefix-h6wei0) format('embedded-opentype'),
		url(images/icons.woff?-h6wei0) format('woff'),
		url(images/icons.ttf?-h6wei0) format('truetype'),
		url(images/icons.svg?-h6wei0#icons) format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

html {
	height: 100%;
}

body {
  width: 100%;
	font-family: 'Maven Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #222222;
	line-height: 2em;
	padding-top: 7.5em;
	-webkit-transition: padding 0.3s ease-in-out;
	-moz-transition: padding 0.3s ease-in-out;
	-o-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}

body.minimal-header {
	padding-top: 4.25em;
}

.content-wrap {
  padding-bottom: 8em;
}

h2 {
	font-family: 'Playfair Display', sans-serif;
	font-style: italic;
	line-height: 1;
	font-size: 2.2em;
	margin-bottom: .75em;	
}

.container h2 {
	color: $titleFont;
}

div.paragraph {
	margin-bottom: 2em;
}

a {
	color: $linkColor;
}

.paragraph a:hover {
	color: #ffffff;
	background: $accent;
}

.content-wrap blockquote,
.footer-wrap blockquote {
	font-size: 1.75em;
	color: #cccccc;
	line-height: 1.3em;
	border-left: none;
	padding-left: 0;
	font-style: normal;
	text-transform: uppercase;
	margin: 1.25em 0;
}

.content-wrap div.paragraph ul,
.footer-wrap div.paragraph ul {
	padding-left: 2em !important;
}

.content-wrap div.paragraph li,
.footer-wrap div.paragraph li {
	padding-left: 0 !important;
	margin: 0 !important;
}

.container {
	width: 100%;
	max-width: 1100px;
  overflow: hidden;
	margin: auto;
  padding: 2em;
	z-index: 1;
	box-sizing: border-box;
}

#header, .banner-wrap, .content-wrap {
  overflow: hidden;
}

/* Header
--------------------------------------------------------------------------------*/

#header {
	width: 100%;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	z-index: 9;
	background: #ffffff;
	-webkit-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

body.wsite-native-mobile-editor,
body.wsite-checkout-page {
  padding: 0 !important;
}

body.wsite-native-mobile-editor #header,
body.wsite-checkout-page #header {
  position: relative;
}

#header.minimal {
	background: $main;
}

#header.minimal .wsite-logo a,
#header.minimal .wsite-menu-default li a {
	color: $headerScroll;
}

#header.minimal #active a,
#header.minimal .wsite-menu-default li:hover a {
	color: $splashHeader;
}

.header-wrap {
	display: table;
	width: 100%;
	height: 100%;
	height: 120px;
	-webkit-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#header.minimal .header-wrap {
  height: 70px;
}

.wsite-logo a,
.wsite-logo a:hover {
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	font-size: 1.5em;
	font-weight: bold;
	color: $logoColor;
	background: inherit;
}

.logo {
	display: table-cell;
	vertical-align: middle;
	padding-left: 50px;
	height: 100%;
}

.logo img {
	-webkit-transition: max-height 0.3s ease-in-out;
	-moz-transition: max-height 0.3s ease-in-out;
	-o-transition: max-height 0.3s ease-in-out;
	transition: max-height 0.3s ease-in-out;
}

.wsite-logo table {
	height: auto !important;
	width: 100%;
}

#header.minimal .logo img {
	max-height: 66px !important;
}

#mobile-input, #nav-trigger {
  display: none;
}

#navmobile {
  display: none;
}

.menu {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	padding-right: 50px;
	height: 100%;
}

.menu li {
  list-style: none;
}

.wsite-menu-default {
	float: right;
}

.wsite-menu-default li {
	display: inline-block;
	padding: 0 15px;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.wsite-menu-default a, .menu a {
	font-size: 14px;
	font-weight: bold;
	color: $navColor;
}

.wsite-menu-default li:hover a, .menu li:hover a {
	color: $navAHover;
}

.wsite-menu-default a:hover {
	background: inherit;
}

#active a {
	color: $accent;
}

#wsite-menus .wsite-menu li a {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: $navHover;
	color: #ffffff;
	border: none;
}

#wsite-menus .wsite-menu li:hover a,
#wsite-menus .wsite-menu li li a {
	background: $subNavHover;
}

#wsite-menus .wsite-menu li li:hover a {
	background: $thirdMenuHoverBg;
	color: $thirdMenuHoverColor;
}

#wsite-menus .wsite-menu-arrow {
	font-family: 'Maven Pro', sans-serif;
	font-size: 15px;
}

/* Footer
--------------------------------------------------------------------------------*/

.footer-wrap {
	border-top: $footerBorderWidth solid $footerBorderColor;
	font-size: 13px;
	color: $footerFont;
	background: $footerBackground;
}

.wsite-footer {
  padding-top: 6.25em;
	padding-bottom: 2.25em;
}

.footer-wrap h2 {
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.25em;
	font-style: normal;
	color: $footerTitleFont;
	line-height: 2.5em;
	text-transform: uppercase;
}

.footer-wrap hr.styled-hr {
	background-color: $footerTitleFont;
	opacity: .15;
	box-shadow: none;
}

.footer-wrap .container {
  overflow: visible;
}

/* Banner
--------------------------------------------------------------------------------*/

.banner-wrap.wsite-background-image {
  background-size: cover !important;
}

.banner-wrap {
	width: 100%;
	padding: 0 1.25em;
	margin: 0 auto 4.5em;
	background: $main;
	color: $bannerColor;
	text-align: center;
	box-sizing: border-box;
}

.banner {
	display: table;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.banner-wrap h2 {
	text-transform: capitalize;
	margin: 0;
	font-size: 1em;
}

.banner-inner {
	display: table-cell;
	margin: auto;
	vertical-align: middle;
	padding: 2em 0;
}

/* Landing Page
--------------------------------------------------------------------------------*/

.landing-page .banner {
	height: 33em;
}

.landing-page .banner .wsite-headline {
	font-size: 5em;
}

.landing-page .banner-wrap .button-wrap {
  display: inline-block;
  padding-top: 5em;
}

/* Tall Header
--------------------------------------------------------------------------------*/

.tall-header .banner {
	height: 23em;
}

.tall-header .banner .wsite-headline {
	font-size: 5em;
}

/* Short Header
--------------------------------------------------------------------------------*/

.short-header .banner {
	height: 14em;
}

.short-header .banner h2 {
	margin-bottom: 0;
}

.short-header .banner .wsite-headline {
	font-family: 'Maven Pro', sans-serif;
	font-size: 2.25em;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 900;
}

/* Title Page
--------------------------------------------------------------------------------*/

.title-page .banner {
	height: 13em;
}

.title-page .banner h2 {
	margin-bottom: 0;
}

.title-page .banner h2 .wsite-headline {
	font-family: 'Maven Pro', sans-serif;
	font-size: 2.25em;
	line-height: 1.5;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 900;
}

.title-page .banner p .wsite-text {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.75em;
	line-height: 2;
  font-style: italic;
}

/* No Banner
--------------------------------------------------------------------------------*/

.no-banner .content-wrap {
	margin-top: 4.5em;
}

.no-banner #header {
	border-top: 5px solid $borderColor;
	border-bottom: none;
}

/* Splash Page
--------------------------------------------------------------------------------*/


body.splash-page {
	height: 100%;
	width: 100%;
}

.splash-page .wsite-background,
.wsite-background {
  background-color: $main !important;
  background-size: cover;
}

.splash-page .wsite-background {
	background-attachment: fixed;
	height: 100%;
	width: 100%;
    display: table;
}

.splash-page #header {
	border-bottom: none;
}
.splash-page #header.minimal {
  background: $main;
}

.splash-wrap {
	display: table;
	height: 100%;
	width: 100%;
	background: transparent;
}

.splash-page .content-wrap {
	display: table-cell;
	vertical-align: middle;
	color: $splashFontColor;
	margin-top: 4.5em;
}

.splash-page .content-wrap h2 {
	font-size: 6.25em;
	color: $splashFontColor;
}

.splash-page div.paragraph {
	font-size: 1.5em;
	text-transform: uppercase;
}

.splash-page hr.styled-hr {
	background-color: $splashHeader;
	box-shadow: none;
}

.splash-page .wsite-search-element-input {
	background: $splashSearchBg;
}

.splash-page .wsite-social a {
  color: $splashHeader;
}

/* Buttons
--------------------------------------------------------------------------------*/

.wsite-button {
	padding: 3px 16px 3px 3px;
}

.wsite-button,
.wsite-editor .wsite-button {
	color: $normalButtonColor !important;
	background-image: none !important;
	background: $normalButtonBg;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.wsite-button .wsite-button-inner,
.wsite-button:hover .wsite-button-inner {
  background: none !important;
  background-color: transparent !important;
  color: inherit !important;
	font-weight: bold;
	text-transform: uppercase;
}

.wsite-button {
	border: 3px solid $normalButtonBorder;
}

.wsite-button:hover {
	background: $normalButtonHoverBg;
	color: $normalButtonHoverColor !important;
}

.landing-page.wsite-theme-light .banner .wsite-button-highlight,
.landing-page.wsite-theme-light .banner .wsite-button-highlight:hover,
.splash-page .wsite-button-highlight,
.splash-page .wsite-button-highlight:hover {
	border: 3px solid $highlightButtonHoverBg;
}

.wsite-theme-light .wsite-button-highlight:hover {
	color: $highlightButtonHoverColor !important;
	background: $highlightButtonHoverBg;
}

.wsite-button-highlight,
.wsite-theme-light .wsite-button-highlight:hover {
	border: 3px solid $highlightButtonHoverBorder;
}

.wsite-button-highlight,
.wsite-editor .wsite-button-highlight {
	background: $highlightButtonBg;
	color: $highlightButtonColor !important;
}

.wsite-button-large {
	font-size: 1.25em !important;
}

.wsite-button-small {
	font-size: .95em !important;
}

/* Inputs
--------------------------------------------------------------------------------*/

.wsite-form-field {
	margin: 15px 0 !important;
}

.form-radio-container {
	margin: 10px 0 !important;
}

.wsite-form-label {
	font-size: 1.25em;
}

.wsite-form-input,
.wsite-input,
.wsite-form-field select {
	font-size: 1.15em;
	color: #666666;
	font-family: 'Maven Pro', sans-serif;
	line-height: 2;
	height: 50px;
	padding: 5px;
	background: #ffffff;
	border: 1px solid #999999;
	border-radius: 0;
	outline: none;
	margin-top: 5px;
}

.wsite-form-input:focus,
.wsite-input:focus,
.form-select:focus {
	border: 2px solid $borderColor;
}

.wsite-search-element-input {
	border: 2px solid $main;
	border-radius: 30px;
	padding-left: 15px;	
	height: 59px;
	color: #999999
}

.wsite-phone-field .wsite-form-phone-separator {
	line-height: 56px;
}

::-webkit-input-placeholder {
   color: $searchColor;
}

:-moz-placeholder { /* Firefox 18- */
   color: $searchColor;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $searchColor;  
}

:-ms-input-placeholder {  
   color: $searchColor;  
}

.splash-page .wsite-search-element-input {
	color: $splashSearchColor;
}

.splash-page ::-webkit-input-placeholder {
   color: $splashSearchColor;
}

.splash-page :-moz-placeholder { /* Firefox 18- */
   color: $splashSearchColor;  
}

.splash-page ::-moz-placeholder {  /* Firefox 19+ */
   color: $splashSearchColor;  
}

.splash-page :-ms-input-placeholder {  
   color: $splashSearchColor;  
}

.wsite-search-element-submit,
.wsite-search-element-submit:hover {
	background: url(images/$Color_icons.png) $searchX $searchY;
	height: 27px;
	width: 27px;
	top: 0;
	margin-top: 21px;
	right: 20px;
}

.splash-page .wsite-search-element-submit,
.wsite-search-element-submit:hover {
	background: url(images/$Color_icons.png) $searchSplashX $searchSplashY;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: .01px;
	padding-left: 4px;
	height: 49px;
	background: url(images/$Color_arrow.png) no-repeat 97% 21px !important;
}

select::-ms-expand {
	display: none;
}

#wsite-com-checkout-payment-info select {
	background: none !important;
}

.wsite-form-field input[type='checkbox']:checked,
.wsite-form-field input[type='checkbox']:not(:checked),
.wsite-form-field input[type='radio']:checked,
.wsite-form-field input[type='radio']:not(:checked),
.wsite-com-product-option input[type='checkbox']:checked,
.wsite-com-product-option input[type='checkbox']:not(:checked),
.wsite-com-product-option input[type='radio']:checked,
.wsite-com-product-option input[type='radio']:not(:checked) {
	display: none;
}

.wsite-form-field input[type='checkbox']:checked + label:before,
.wsite-form-field input[type='checkbox']:not(:checked) + label:before,
.wsite-form-field input[type='radio']:checked + label:before,
.wsite-form-field input[type='radio']:not(:checked) + label:before,
.wsite-com-product-option-label input[type='radio']:checked + span:before,
.wsite-com-product-option-label input[type='radio']:not(:checked) + span:before {
	content: '';
	display: inline-block;
	height: 22px;
	width: 22px;
	margin-right: 8px;
	padding: 1px;
	vertical-align: -8px;
}

.splash-page .wsite-form-field input[type='checkbox']:checked + label:before,
.splash-page .wsite-form-field input[type='checkbox']:not(:checked) + label:before,
.splash-page .wsite-form-field input[type='radio']:checked + label:before,
.splash-page .wsite-form-field input[type='radio']:not(:checked) + label:before,
.splash-page .wsite-com-product-option-label input[type='radio']:checked + span:before,
.splash-page .wsite-com-product-option-label input[type='radio']:not(:checked) + span:before {
  border: 1px solid #fff;
}

.splash-page .wsite-form-field input[type='radio']:checked + label:before,
.splash-page .wsite-form-field input[type='radio']:not(:checked) + label:before,
.splash-page .wsite-com-product-option-label input[type='radio']:checked + span:before,
.splash-page .wsite-com-product-option-label input[type='radio']:not(:checked) + span:before {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.splash-page .wsite-form-field input[type='checkbox']:checked + label:before,
.splash-page .wsite-form-field input[type='checkbox']:not(:checked) + label:before {
  height: 18px;
  width: 17px;
}

.wsite-form-field input[type='checkbox']:not(:checked) + label:before,
.wsite-com-product-option input[type='checkbox']:not(:checked) + label:before {
	background: url(images/$Color_icons.png) -696px -31px;
}

.wsite-form-field input[type='checkbox']:checked + label:before,
.wsite-com-product-option input[type='checkbox']:checked + label:before {
	background: url(images/$Color_icons.png) -725px -31px;
}

.wsite-form-field input[type='radio']:not(:checked) + label:before,
.wsite-com-product-option-label input[type='radio']:not(:checked) + span:before {
	background: url(images/$Color_icons.png) -695px -57px;
}

.wsite-form-field input[type='radio']:checked + label:before,
.wsite-com-product-option-label input[type='radio']:checked + span:before {
	background: url(images/$Color_icons.png) -724px -57px;
}

/* Store/ Product
--------------------------------------------------------------------------------*/

/* Storefront tooltip fix */
#icontent .container {
  overflow: visible;
}

#wsite-com-product-title {
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}

#wsite-com-product-price-area .wsite-com-product-price-container {
	font-size: 1.5em;
	color: #999999;
}

#wsite-com-product-price-area.wsite-com-product-show-price-on-sale #wsite-com-product-price {
	display: none;
}

#wsite-com-product-price-area #wsite-com-product-price-sale {
	color: #ffffff;
	background: #333333;
}

#wsite-com-product-price-sale:before {
	content: 'SALE';
	padding-left: 10px;
}

#wsite-com-product-price-area {
	border: none;
	margin: 0;
}

#wsite-com-product-add-to-cart {
	background: #ffffff  !important;
	color: $accent !important;
}

#wsite-com-product-add-to-cart {
	border: 2px solid $accent !important;
}

#wsite-com-product-add-to-cart:hover {
	background: $accent !important;
	color: #ffffff !important;
}

.wsite-com-product-option-dropdown select {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid $borderColor;
	font-size: 1.15em;
	font-weight: 900;
	color: $borderColor;
	outline: none;
	cursor: pointer;
}

.wsite-com-product-option-color .wsite-com-product-option-color-container {
	box-shadow: none;
}

.wsite-com-product-option-color .wsite-com-product-option-color-swatch {
	height: 36px;
	width: 36px;
	border-radius: 0;
	border: 1px solid #e5e5e5;
	box-shadow: none;
	outline: none;
}

.wsite-com-product-option-color .wsite-selected {
	background: url(images/$Color_icons.png) -646px -64px;
}

#wsite-com-product-quantity-input {
	background-image: none;
	border: none;
	border-bottom: 2px solid $borderColor;
	font-size: 1.15em;
	font-weight: 900;
	color: $borderColor;
	outline: none;
  border-radius: 0;
}

#wsite-com-product-images-strip .wsite-com-product-images-secondary:hover {
	background: none;
}

.wsite-com-product-images-secondary:hover .wsite-com-product-images-secondary-image-container:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: $borderColor;
	opacity: .8;
}

#wsite-com-product-images-strip .wsite-com-product-images-secondary-outer {
	box-shadow: none;
}

#wsite-com-product-options {
	border-top: none;
}

.wsite-com-product-option, #wsite-com-product-inventory {
	padding: 15px 0;
}

.wsite-com-product-label {
	margin-bottom: 15px;
}

.wsite-com-continue-shopping .caret {
  vertical-align: middle;
}

/* Social Links
--------------------------------------------------------------------------------*/

.wsite-social {
  white-space: normal;
}

.wsite-social-item {
  display: inline-block;
  font-size: 2em;
  margin: 0 6px 10px;
}

/* Blog
--------------------------------------------------------------------------------*/

h2.blog-title a,
h2.blog-title a:hover {
	font-size: 1.85em;
	color: $titleFont;
	background: inherit;	
}

.blog-post .blog-separator {
	border: none;
	height: 9px;
}

.blog-post > div, .blog-post .blog-header {
	padding-left: 160px !important;
  box-sizing: border-box;
}

#blog-post-title-overlay {
	left: 155px;
}

.blog-post:before {
	content: '';
	border-left: 1px solid #e2e2e2;
	position: absolute;
	top: 0;
	left: 140px;
	height: 100%;
}

.blog-post .blog-date {
	font-size: 18px;
	color: $linkColor;
	position: absolute;
	top: 24px;
	left: 0px;
	width: 110px;
	text-align: right;
}

.blog-header .blog-date span,
.blog-header .blog-comments a {
  margin: 0 !important;
  padding: 0 !important;
  float: right !important;
}

.blog-post .blog-comments {
	font-size: 18px;
	position: absolute;
	top: 60px;
	left: 0px;
	width: 110px;
	text-align: right;
}

.blog-comments-bottom {
	display: none;
}

.blog-content {
	width: 100%;
}

.blog-post-separator {
	height: 40px;
}

.blog-sidebar {
	display: none;
}

#commentArea {
	margin-left: 145px;
}

/* Tablet media queries
--------------------------------------------------------------------------------*/

@media (max-width: 1024px) {

	body {
	  font-size: 15px;
	  padding-top: 120px;
	}
	
	#header .header-wrap {
		height: 120px;
	}

	#header.minimal .header-wrap {
		height: 80px;
	}
	
	body.minimal-header {
		padding-top: 80px;
	}

	.logo {
		display: table-row;
		padding-left: 0;
		text-align: center;
		height: auto;
	}
	
	.logo img {
		margin: 0 !important;
	}

	.wsite-logo {
		display: table-cell;
		vertical-align: middle;
	}

	.menu {
		display: table-row;
		padding-right: 0;
		text-align: center;
		height: auto;
	}
	
	.wsite-menu-default {
		float: none;
		margin: auto;
		display: table-cell;
		vertical-align: middle;
	}
	
	.banner-wrap {
	  margin-bottom: 2.5em;
	}
	
	.landing-page .banner {
	  height: 28em;
	}
	
	.tall-header .banner {
	  height: 18em;	  
	}
	
	.short-header .banner, .title-page .banner {
	  height: 10em;
	}
	
	.landing-page .banner .wsite-headline,
	.tall-header .banner .wsite-headline,
	.splash-page .banner .wsite-headline,
	.splash-page .content-wrap h2{
		font-size: 3.5em !important;
	}
	
	.banner font {
	  font-size: 1em !important;
	}
	
	.landing-page .banner-wrap .button-wrap {
	  padding-top: 3em;
	}
	
	.short-header .banner .wsite-headline {
  	font-size: 1.55em !important;
  }

  .title-page .banner h2 .wsite-headline {
  	font-size: 1.55em !important;
  	line-height: 1.25;
  }
	
	.title-page .banner p .wsite-text {
    font-size: 1.5em;
  	line-height: 1.5;
  }
  
	.wsite-footer {
	  padding-top: 3em;
    padding-bottom: 1.5em;
	}
	
	h2.blog-title a, h2.blog-title a:hover {
	  font-size: 1.5em !important;
	}
	.blog-post .blog-date, .blog-post .blog-comments {
    font-size: 18px;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    text-align: right;
  }
  .blog-post:before {
    display: none;
  }
  .blog-post {
    margin-right: 0; 
  }
  .blog-post > div, .blog-post .blog-header {
    padding-left: 0em !important;
  }
}

/* Mobile media queries
--------------------------------------------------------------------------------*/

@media (max-width: 767px) {
	#header {
		height: auto;
	}

	body {
	  font-size: 14px;
		padding-top: 60px;
	}
	
	.container {
    padding: 1.25em;
  }
  
	#header.minimal {
		height: auto;
	}
	
	body:not(.minimal-header) #header {
	  border-radius: 1px;
	  -webkit-box-shadow: 0px 2px 3px -1px rgba(30, 30, 30, .1);
    -moz-box-shadow:    0px 2px 3px -1px rgba(30, 30, 30, .1);
    box-shadow:         0px 2px 3px -1px rgba(30, 30, 30, .1);
	}
	
	body.minimal-header {
		padding-top: 0;
	}
	
	.logo {
    display: table;
    width: 100%;
    height: 60px;
    padding: 0 1.25em;
    text-align: center;
    line-height: 1;
    box-sizing: border-box;
	}
	
	.logo > span {
	  display: table-cell !important;
	  vertical-align: middle;
    padding: 0 54px 0 20px;
	}
	
 .wsite-logo {
   display: block;
 }
 
	.logo img {
		max-height: 50px !important;
	}
  
  #nav {
    display: none;
  }

  #navmobile {
    display: block;
  }
  
  .wsite-logo table {
    height: 60px !important;
  }
  
	.menu {
		display: block;
		padding-right: 0px;
		text-align: center;
	}
	
	.wsite-menu-default {
		float: none;
		display: block;
	}

	.menu .wsite-menu-default li {
		display: block;
	}
	
	.menu .wsite-menu-default li a {
		display: block;
		position: relative;
	}
	
	#header .header-wrap, #header.minimal .header-wrap {
		height: 60px;
	}
	
	#header.minimal .wsite-logo a,
	#header.minimal .menu li a {
		color: #ffffff;
	}
	
	#header.minimal #active a,
	#header.minimal .wsite-menu-default li:hover a {
		color: $splashHeader;
	}
	
  #nav-trigger {
  	display: table-cell;
    vertical-align: middle;
    width: 24px;
    z-index: 11;
  }
  
  #nav-trigger:before, #nav-trigger:after {
    content: "";
  }
  
	#nav-trigger span,
	#nav-trigger:before,
	#nav-trigger:after {
    display: block;
	  width: 100%;
    height: 4px;
    background: $main;
	}
	
	#nav-trigger span{
    margin: 3px 0;
	}

  #header.minimal #nav-trigger span,
  #header.minimal #nav-trigger:before,
  #header.minimal #nav-trigger:after {
	  background: #ffffff;
	}
  
  .splash-page #nav-trigger span,
  .splash-page #nav-trigger:before,
  .splash-page #nav-trigger:after {
    background:  $splashHeader !important;
  }
  
  #navmobile {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -moz-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -o-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -ms-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  
  #navmobile > div, #navmobile > ul {
    padding: 0 0 1em;    
  }
  
  .wsite-mobile-menu {
    -webkit-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -moz-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -o-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -ms-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);    
  }

  .wsite-menu-mobile-arrow:before {
    display: inline-block;
    content: '\203A';
    vertical-align: bottom;
    font-weight: bold;
    margin-left: 5px;
  }

  .wsite-menu-back-item .wsite-menu-mobile-arrow:before {
    content: '\2039' !important;
    margin-right: 5px;
    margin-left: 0;
  }

  .wsite-menu-back-item a {
    font-weight: bold !important;
    color: #333 !important;
  }
  
  .wsite-menu-arrow {
    display: none;
  }
  
  #nav:before {
    display: block;
    content: '';
    height: 1em;
  }
  
  body.menu-open #navmobile {
    max-height: 960px;
  }
		
	.wsite-menu-wrap {
		left: 0 !important;
	}
	.wsite-multicol-col {
    max-width: 100% !important;
    display: block;
    width: auto !important;
    margin: 0 auto 1em !important;
  }

  #wsite-search-header h2 {
    float: none;
    font-weight: bold;
  }
  #wsite-search-form-container {
    float: none;
    margin-top: 10px;
    width: 100%;
  }
  
  .wsite-product-list {
    display: none !important;
  }
  
  #wsite-mini-cart {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    top: auto !important;
    width: 100% !important;
    box-sizing: border-box !important;
    border-radius: 0 !important;
    border-right: none !important;
    border-left: none !important;
  }
  
  #wsite-mini-cart:before,
  #wsite-mini-cart:after {
    display: none;
  }

  #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-featured-group .wsite-com-column,  #wsite-com-store .wsite-com-category-product-group .wsite-com-column {
    width: 50% !important;
  }
  
  #wsite-com-product-images {
    width: 100% !important;
  }
  
  #wsite-com-product-images, #wsite-com-product-images .wsite-com-column {
    float: none !important;
  }
  
  #wsite-com-product-info {
    margin-left: 0 !important;
    margin-top: 25px;
  }
  
  #wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button {
    display: block;
    margin: 5px auto 0;
    left: auto;
    top: auto;
  }
  
  .wsite-com-continue-shopping .caret, #wsite-com-checkout-list, #wsite-com-checkout-summary-list {
    line-height: 2em;
  }

  #wsite-com-checkout-list .wsite-form-input, #wsite-com-checkout-summary-list .wsite-form-input {
    width: 25px;
    height: 25px;
  }
  
  
  #wsite-com-checkout-list .wsite-coupon-input, #wsite-com-checkout-summary-list .wsite-coupon-input {
    width: 100px;
  }
  
  #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image {
    width: 50px !important;
    height: 50px !important;
  }
  
  .wsite-com-continue-shopping .caret, #wsite-com-checkout-list, #wsite-com-checkout-summary-list {
    font-size: .65em !important;
    vertical-align: middle;
  }
  
  #wsite-mini-cart .wsite-subtotal-wrapper, .wsite-product-list .wsite-product-description, .wsite-name-header, .wsite-product-price {
    font-size: 1em !important;
    line-height: 1.2 !important;
  }
  
  .wsite-com-category-subcategory-name, .wsite-com-category-subcategory-name-text {
    padding: .25em !important;
    font-size: 1em !important;
  }
  /* Checkout Page
  ---------------------------------------*/

  .wsite-com-checkout-payment-column,
  .wsite-com-checkout-summary-column {
    display: block !important;
    width: auto !important;
    max-width: 100% !important;
    margin: 0 auto 1em !important;
  }
  
  #wsite-com-checkout-cart-footer {
    text-align: center;
  }
  
  .wsite-com-continue-shopping {
    display: block;
    margin: 0 auto 5px;
  }
  
  #wsite-com-checkout-cart-footer form {
    float: none !important;
  }
  #wsite-com-checkout-payment-order {
    margin-left: 0;
  }  
}