


#Weebly Additions Start
ErrorDocument 404 /w_api/Handler.php

RewriteEngine on



AddDefaultCharset utf-8

Options 
RewriteEngine on

RewriteCond %{REQUEST_URI} !-f
RewriteRule ^ajax/(.*)$	/w_api/Handler.php [L]

RewriteBase /
RewriteRule ^$ index.html [R=301,L]







RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /w_api/Handler.php

#Weebly Additions End
